<thead>
    <tr>
        <th rowspan="2" class="hidden">Material ID</th>
        <th rowspan="2">Item/Block Name</th>
        <th rowspan="2"></th>
        <th colspan="2">Unit Price</th>
        <th colspan="2">Stack Price</th>
    </tr>
    <tr>
        <th>Buy</th>
        <th>Sell</th>
        <th>Buy</th>
        <th>Sell</th>
    </tr>
</thead>
