---
title: verzion economy price guide for Minecraft
colorA1: '#f6c857'
colorA2: '#f49b40'
colorA3: '#e7501d'
colorB1: '#a7c3a0'
colorB2: '#789472'
colorB3: '#49584b'
colorB4: '#242c25'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .hidden {
            display: none;
        }
        .text-center {
            text-align: center;
        }
        body {
            font-family: helvetica, sans-serif;
        }
        table {
            width: 100%;
            max-width: 800px;
            border-collapse: collapse;
        }
        caption {
            background: {{ colorB3 }};
            color: {{ colorB1 }};
            padding: 16px 8px;
            font-weight: bold;
            border: 2px solid white;
            border-bottom: 0;
        }
        thead th {
            background: {{ colorB3 }};
            color: {{ colorB1 }};
        }
        tbody th {
            text-align: left;
        }
        td:first-child {
            background: {{ colorB2 }};
        }
        td,th {
            background: {{ colorB1 }};
            padding: 3px 8px;
            border: 2px solid white;
        }

        td img {
            max-width: 50px;
            display: block;
        }
        td a, th a {
            color: {{ colorB4 }};
            text-decoration: none;
            font-weight: normal;
        }

        td a:hover, th a:hover {
            color: {{ colorB3 }};
            text-decoration: underline;
        }
    </style>
</head>
<body>
    {{ content | safe }}
</body>
</html>
