---
title: VZ's economy price guide for Minecraft 1.16
colorA1: '#f6c857'
colorA2: '#f49b40'
colorA3: '#e7501d'
colorB1: '#a7c3a0'
colorB2: '#789472'
colorB3: '#49584b'
colorB4: '#242c25'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    {{ content | safe }}
</body>
</html>
