---
layout: base.njk
priceMultiplier: 1
sellMargin: 0.30
---
<div class="header pattern">
    <h1>verzion's Economy Price Guide for Minecraft</h1>
</div>
<table>
    <caption>Ores / Minerals</caption>
    {% include "thead.njk" %}
    <tbody>
    {% for item in ores %}
        {% include "tbody.njk" %}
    {% endfor %}
    </tbody>
</table>
<table>
    <caption>Stone</caption>
    {% include "thead.njk" %}
    <tbody>
    {% for item in stone %}
        {% include "tbody.njk" %}
    {% endfor %}
    </tbody>
</table>
